.articleID {
	width: 75vw;
	max-width: 750px;
	background-color: #dcdcdc;
	margin: 40px auto;
	// padding-bottom: 50px;
	border-radius: 8px;

	.article-header {
		background: rgb(92, 92, 92);
		padding: 12px;
		border-radius: 8px 8px 0 0;

		p {
			text-align: left;
			color: #e7e7e7;
			font-size: 0.75em;
			font-weight: 500;
		}
	}

	.content {
		padding: 0 26px 24px;

		.title {
			background: rgb(255, 122, 122);
			margin: 26px 0px 24px;
			padding: 8px 0px;

			h1 {
				text-align: center;
				font-size: 2.8em;
				font-weight: 900;
				color: #373737;
				text-transform: uppercase;
				word-break: break-word;
				line-height: 1.2;
				// background: greenyellow;
			}
		}

		p {
			text-align: justify;
			font-size: 1em;
			color: #464646;
			line-height: 1.6;
		}
	}

	@media (max-width: 850px) {
		.content {
			.title {
				h1 {
					font-size: 2em;
				}
			}
		}
	}
}
