/* front/src/styles/article-detail.scss */

.articleID {
	width: 92vw;
	margin: 0 auto;
	padding: 26px 16px;
	background: white;
	color: rgb(49, 49, 49);

	h1 {
		font-size: 3.6em;
		font-weight: 900;
		text-transform: uppercase;
		letter-spacing: -2px;
		color: rgb(30, 30, 30);
		line-height: 1;
	}

	.articleInfos {
		display: flex;
		justify-content: flex-start;
		margin-bottom: 24px;
		font-size: 0.6em;
		color: gray;

		.article-date,
		.article-category {
			margin: 0;
			color: #6e6e6e;
			font-weight: 200;
		}
	}

	.article-image {
		max-width: 100%;
		max-height: 400px;
		border-radius: 6px;
		margin-bottom: 16px;
	}

	p {
		line-height: 1.6;
	}
}
