// src/styles/global.scss

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400..900&display=swap');

*,
*::before,
*::after {
	margin: 0; // Réinitialiser la marge pour tous les éléments
	padding: 0;
	box-sizing: inherit; // Hériter de la valeur de box-sizing du parent
}
//*, *::before, et *::after s'appliquent à tous les éléments et pseudo-éléments.

html {
	/* Inclut la bordure et le padding dans la largeur totale  */

	box-sizing: border-box;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.6;
	background: rgb(238, 238, 238);
	::selection {
		color: #222222;
		background: #e3e3e3;
	}
}

ol,
ul {
	list-style: none;
}

a {
	text-decoration: none;
	color: inherit;
}
